@font-face {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/woff2/Mulish-Regular.woff2) format("woff2")
   }

@font-face {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/woff2/Mulish-Bold.woff2) format("woff2")
   }

@font-face {
    font-family: Mulish;
    font-style: normal;
    font-weight: medium;
    font-display: swap;
    src: url(../fonts/woff2/Mulish-Medium.woff2) format("woff2")
   }

@font-face {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/woff2/Mulish-Light.woff2) format("woff2")
   }